body {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
  table-layout: auto; /* Utilisation de table-layout auto pour que les colonnes prennent la largeur du contenu */
}

th, td {
  padding: 10px;
  text-align: left;
  word-wrap: break-word; /* Permet de couper le texte si nécessaire */
}

th {
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc; /* Bordure pour les entêtes */
}

td {
  border-left: 1px solid #ccc;  /* Bordure à gauche des cellules */
  border-right: 1px solid #ccc; /* Bordure à droite des cellules */
}

th:nth-child(1), td:nth-child(1) { 
  width: 2%; /* Réduire la largeur pour la colonne des codes */
}

th:nth-child(2), td:nth-child(2) { 
  width: 30%; /* Largeur pour les activités plus large */
}

th:nth-child(3), td:nth-child(3) { 
  width: 3%; /* Largeur pour la validation, peut-être plus petite */
}

th:nth-child(4), td:nth-child(4) { 
  width: 40%; /* Largeur pour les connaissances, ajustée */
}

.bold {
  font-weight: bold;
}

.validation-cell {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle; /* Aligner verticalement avec d'autres éléments */
}

/* Centrer la lettre dans les cases ABS et NE */
#colorPanel div.abs-ne {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px; /* Taille de police ajustée pour plus de lisibilité */
  font-weight: bold;
  text-align: center; /* Centrer horizontalement la lettre */
}

/* Centrer verticalement et horizontalement les éléments dans les cellules */
#colorPanel div {
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Panneau de couleur */
#colorPanel {
  position: absolute;
  display: none;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* S'assurer que le panneau est au-dessus des autres éléments */
}

/* Ajustements pour les tablettes */
@media (max-width: 768px) {
  th, td {
      padding: 8px; /* Réduire les espacements pour les petits écrans */
  }

  table {
      table-layout: fixed; /* S'assurer que les colonnes sont de taille égale */
  }

  th, td {
      word-wrap: break-word;
      text-align: center; /* Centrer le texte dans les colonnes */
  }

  th:nth-child(1), td:nth-child(1) {
      width: 20%;
  }

  th:nth-child(2), td:nth-child(2) {
      width: 50%;
  }

  th:nth-child(3), td:nth-child(3) {
      width: 15%;
  }

  th:nth-child(4), td:nth-child(4) {
      width: 30%;
  }
}

/* Ajustements spécifiques pour les petits écrans de téléphone */
@media (max-width: 480px) {
  table {
      font-size: 12px; /* Réduire la taille de la police du tableau pour les petits écrans */
      margin: 10px 0; /* Réduire la marge autour du tableau */
  }

  th, td {
      padding: 6px; /* Réduire les espacements pour les petits écrans */
      text-align: center; /* Centrer le texte dans les cellules */
  }

  th:nth-child(1), td:nth-child(1) {
      width: 25%; /* Augmenter la largeur de la première colonne pour qu'elle soit plus lisible */
  }

  th:nth-child(2), td:nth-child(2) {
      width: 50%; /* Réduire la largeur de la deuxième colonne pour mieux s'adapter */
  }

  th:nth-child(3), td:nth-child(3) {
      width: 10%; /* Réduire la largeur de la troisième colonne */
  }

  th:nth-child(4), td:nth-child(4) {
      width: 20%; /* Réduire la largeur de la quatrième colonne */
  }
}

button {
font-size: 1.4em;
padding: 0.6em 0.8em;
border-radius: 0.5em;
border: none;
background-color: #d4bebe;
color: #312d2d;
cursor: pointer;
box-shadow: 2px 2px 3px #000000b4;
}

.container {
display: inline-block; /* Permet à la largeur de s'adapter au contenu */
position: relative;
padding: 3px;
background: linear-gradient(90deg, #03a9f4, #f441a5);
border-radius: 0.9em;
transition: all 0.4s ease;
}

.container::before {
content: "";
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
border-radius: 0.9em;
z-index: -10;
filter: blur(0);
transition: filter 0.4s ease;
}

.container:hover::before {
background: linear-gradient(90deg, #03a9f4, #f441a5);
filter: blur(1.2em);
}

.container:active::before {
filter: blur(0.2em);
}